# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# OS specific
.DS_Store

# VS code
__debug_bin*
